# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variable files
.env

# Ignore macOS Finder files
.DS_Store

# Ignore swap files created by text editors
*.swp

# Ignore compiled Python files
*.cpython-*

# Other potential files to ignore
*.log
*.sqlite3

charts/
*secrets.yaml
venv/